.title {
    max-width: 100%;
    padding: 20px 10px;
    color: white;
    text-align: center;
    background-image: linear-gradient(195.42deg,#ed1e79 -13.39%,#662d8c 83.2%);
    
    &__name{
     font-size: 32px;
    }
}